@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --Green-500: hsl(163, 72%, 41%);
  --Red-500: hsl(356, 69%, 56%);
  --Blue-600: hsl(208, 92%, 53%);
  --Blue-500: hsl(203, 89%, 53%);
  --Linear-gradient-instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(5, 77%, 71%),
    hsl(329, 70%, 58%)
  );
  --Red-700: hsl(348, 97%, 39%);
  --Linear-gradient-toggle: linear-gradient(
    to right,
    hsl(210, 79%, 56%),
    hsl(146, 68%, 55%)
  );
  --Gray-400: hsl(230, 22%, 74%);
  --Gray-950: hsl(230, 17%, 14%);
  --Gray-900: hsl(232, 19%, 15%);
  --Navy-950: hsl(228, 28%, 20%);
  --White: hsl(0, 100%, 100%);
  --Blue-50: hsl(225, 100%, 98%);
  --Navy-50: hsl(227, 47%, 96%);
  --Gray-650: hsl(228, 12%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

body {
  background-color: var(--Gray-950);
  color: var(--White);
}

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.social,
.social__header,
.social__info,
.social__cards,
.overview {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.social__header {
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
  gap: 5px;
}
.social__info {
  gap: 5px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 1px -1px var(--Gray-400);
}

.title {
  font-size: 1.5rem;
}

.followers,
.mode p {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--Gray-400);
}

.mode {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.mode__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.mode__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-slider {
  position: absolute;
  cursor: pointer;
  background: var(--Linear-gradient-toggle);
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease;
}

.mode__switch:hover .checkbox-slider {
  background: var(--Linear-gradient-toggle);
}

.mode__switch:focus {
  border: none;
  outline: none;
}

.mode__switch:focus .checkbox-slider {
  background: var(--Green-500);
}

.checkbox-slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--Gray-950);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .checkbox-slider::before {
  transform: translateX(21px);
}

.social__cards {
  width: 100%;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.social__card,
.overview__card {
  width: 90%;
  height: 180px;
  background-color: var(--Navy-950);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.social__card::before {
  content: "";
  width: 100%;
  height: 180px;
  background-color: var(--Blue-600);
  position: absolute;
  top: -5px;
  z-index: -1;
  border-radius: 5px;
}

.social__card:nth-child(2)::before {
  background-color: var(--Blue-500);
}

.social__card:nth-child(3)::before {
  background: var(--Linear-gradient-instagram);
}

.social__card:nth-child(4)::before {
  background-color: var(--Red-700);
}

.card__user,
.social__resume {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__user img {
  width: 20px;
}

.user {
  font-size: 0.8rem;
  color: var(--Gray-400);
}

.followers__quantity {
  font-size: 3.5rem;
  font-weight: bold;
}

.followers__label {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Gray-400);
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: -10px;
}

.social__resume img {
  width: 10px;
}

.social__resume p {
  font-size: 0.8rem;
  font-weight: bold;
}

.overview {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.overview__header {
  width: 100%;
  padding: 20px;
}

.overview__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.overview__card {
  gap: 20px;
  height: 120px;
  padding: 20px;
}

.labels,
.data,
.overview__resume {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.labels p {
  font-size: 0.9rem;
  color: var(--Gray-400);
}

.labels img {
  width: 20px;
}

.data p {
  font-size: 2rem;
  font-weight: bold;
}

.overview__resume {
  justify-content: right;
  align-items: center;
  gap: 5px;
}

.overview__resume img {
  width: 5px;
  height: 5px;
}

.overview__resume p {
  font-size: 0.9rem;
  color: var(--Green-500);
}

.overview__resume .down {
  color: var(--Red-500);
}
